.headline {
display: flex;
font-family: inherit;
font-style: normal;
font-size: 48px;
text-align: center;
background-image: url(image/header-illsutration-mobile.svg);
background-repeat: no-repeat;
}

.headline-title {
  width: 327px;
  height: 192px;
  left: 24px;
  top: 64px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 58px 0;
}

.para {
  width: 327px;
  height: 164px;
  left: 24px;
  top: 314px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 58px 0;
}

.headline-2 {
  color: #64b57f;
}

.fab,
.fas,
.far {
  left: 27.31%;
  right: 67.36%;
  top: 73.83%;
  bottom: 23.42%;
  color: #505f79;
  font-size: 20px;
  margin-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  top: 0;
}

.hamburger-menu {
  margin-top: 19px;
  margin-right: 36px;
}

.logo {
  margin-top: 10px;
  margin-left: 24px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-align: center;
}
