section {
    display: flexbox;
    font-family: Inter;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}

nav {
    display: flexbox;
}

i {
    padding: 10px 10px;
    background: none;
}

i:hover {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}